<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" [class.scrolled]="isScrolled">
  <div class="container">

    <!-- Logo (Start / Left) -->
   
    <a class="navbar-brand fw-bold  sarah" routerLink="/">
      sarah
    </a>

    <!-- Toggle for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links (Right) -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a href="#hero" (click)="setActive('home')" [class.active-link]="activeSection === 'home'" class="nav-link">
            Home
          </a>
        </li>
         <li class="nav-item">
          <a href="#about" (click)="setActive('about')" [class.active-link]="activeSection === 'about'" class="nav-link">
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a href="#services" (click)="setActive('services')" [class.active-link]="activeSection === 'services'" class="nav-link">
            Services
          </a>
        </li>
       
        <li class="nav-item">
          <a href="#contact" (click)="setActive('contact')" [class.active-link]="activeSection === 'contact'" class="nav-link">
            Contact
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
