.services {
  padding: 80px 8%;
  background: #f7f2ee;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #3b2e2a;
}

.services h2 {
  font-size: 2.8rem;
  color: #c7a17a;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.card {

  background: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  flex: 1 1 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
        align-self: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* دائري */
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.card h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #4b2e1e;
}

.card p {
  font-size: 1rem;
  opacity: 0.85;
  line-height: 1.6;
}

.card:hover {
  transform: translateY(-40px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
}

/* Responsive */
@media (max-width: 900px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 30px;
  }
}
